<h1>Our selection of volunteers</h1>


<% @interests %>



<div class ="index-wrapper-1">
   <div class="container">
    <div class="row circle-activities-container">
      <div class="col-sm-12 col-md-4 col-lg-12">
  <%= form_tag profiles_path, method: :get do %>
   <% @interests.each do |interest| %>
    <label class="circle-activities">
        <% asset_url = "#{interest.title}.svg"%>
        <%= image_tag(asset_url, width: 85, height:85) %>
      <%= check_box_tag('interests[]', interest.id, checked=false, hidden:true, class:"check-me") %>
    </label>
  <% end %>
  <%#= collection_select :title, :id, Interest.all, :id, :title %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
<!--
        <div class="activities-tile">
          <i class="fas fa-film fa-5x circle-icon fa-border" id="pastille-cine"></i>Cinema
          <i class="fas fa-theater-masks fa-5x circle-icon fa-border" id="pastille-theatre"></i>Theatre
          <i class="fas fa-utensils fa-5x fa-border circle-icon"></i>Eating
          <i class="fas fa-mug-hot fa-5x circle-icon fa-border"></i>Tea Time
          <i class="fas fa-dice fa-5x circle-icon fa-border"></i>Playing
          <i class="fas fa-walking fa-5x circle-icon fa-border"></i>Outdoors
        </div>
      </div>
 -->
      </div>
    </div>
  </div>
</div>




<div class ="home-wrapper-2">
<div class="container">
  <div class="row">
      <% @users.each do |user| %>
    <div class="col-12 col-sm-6 col-md-4 mb-3">
      <div class="card-volunteer" style="background-image: url('<%= cl_image_path("shape-card-volunteer")%>');">
        <div>
        <div class ="photo-profile" style="background-image: url('<%= cl_image_path("Photo-Volunteer") %>')"></div>
            <h2>Michelle Obama</h2>
            <i class="fas fa-star fa-2x"></i><i class="fas fa-star fa-2x"></i><i class="fas fa-star fa-2x"></i><i class="fas fa-star fa-2x"></i><i class="fas fa-star fa-2x"></i>
            <div class="icones">
            <i class="fas fa-dice fa-border fa-2x"></i> <i class="fas fa-utensils fa-border fa-2x"></i> <i class="fas fa-theater-masks fa-border fa-2x" ></i>
            </div>
            <%# if user.user_interests.present? %>
            <%#= user.title %>
            <%# end %>



            </div>
            <%= link_to "MY PROFILE", profile_path(user), class: "btn btn-primary button-action-profile"%>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
</div>
