<%= link_to "Back", search_path, class: 'btn btn-primary'%>
<h1>Pick your volunteer !</h1>
  <div class ="home-wrapper-2">
    <div class="container">

      <h3>Here, you can have a look at our volunteers and message them .</h3>
        <div class="row">
          <% @volunteers.each do |volunteer| %>
          <div class="col-12 col-sm-6 col-md-4 mb-3">
          <div class="card-volunteer" style="background-image: url('<%= cl_image_path("shape-card-volunteer")%>');">
          <div>
          <div class ="photo-profile" style="background-image: url('<%= cl_image_path(volunteer.picture) %>')">
          </div>
              <h2><%= volunteer.first_name %></h2>
              <h2><%= volunteer.last_name %></h2>
              <div class="d-flex justify-content-center">
                <% volunteer.interests.each do |inter| %>
                <% asset_url = "#{inter.title}.svg"%>
                  <div class="icone-card">
                   <%= image_tag(asset_url, width: 25, height:25, class: "")  %>
                  </div>
                <% end %>
              </div>
                <br><i class="fas fa-star fa-2x"></i>
                <i class="fas fa-star fa-2x"></i>
                <i class="fas fa-star fa-2x"></i>
                <i class="fas fa-star fa-2x"></i>
                <i class="fas fa-star fa-2x"></i>
            <%# if volunteer.volunteer_interests.present? %>
            <%#= volunteer.title %>
            <%# end %>
                <br>
                <br>
              <a href="" class = "volunteer_profile">
              <%= link_to "#{volunteer.first_name}'s profile", profile_path(volunteer), class: "btn btn-primary button-action-profile" %>
              </a>
             </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
