<div class="container-fluid d-flex justify-content-around">
  <div class="user-info-container">
    <div class="card-user">
      <img src="https://images.unsplash.com/photo-1566916926776-87b869e2f2a8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=834&q=80">
      <ul>
        <li>s<%= @user.first_name %></li>
        <li>s<%= @user.last_name %></li>
        <li>s<%= @user.city %></li>
        <li>s<%= @user.gender %></li>
        <li>s<%= @user.age %></li>
        <li>s<%= @user.mobility %></li>
      </ul>
       <hr>
      <div class="info">
        <p>Bio: <%= @user.biography %></p>
      </div>
    </div>


  </div>
  <div class="interest-wrapper" style="background-color: lightblue">
    <div class="items"></div>
    <div class="items"></div>
    <div class="items"></div>
    <div class="items"></div>
    <div class="items"></div>
    <div class="items"></div>
    <% @user.interests.each do |interest| %>
      <div class="inter-item">
        <%= interest.title %>
      </div>
    <% end %>
  </div>
</div>
<div class="container container-buttons d-flex justify-content-between">
  <div class="send">
    <%= link_to "Back", users_path, class: 'btn btn-primary'%>
    <%= link_to "Send message", new_user_request_path(@user), class: 'btn btn-primary'%>
  </div>
</div>


