<div class="show-wrapper mx-5 mb-4">
   <%= link_to "Back", profiles_path, class: 'btn btn-primary button-action mb-3', id: 'back-btn'%>

   <div class="row">

     <div class="col-5">

      <div class="card-volunteer1" style="background-image: url('<%= cl_image_path("shape-card-volunteer")%>');">

        <div class="d-flex w-100 justify-content-center">
          <%= cl_image_tag @volunteer.picture, class: "photo-profile1" %>
        </div>

        <div class="volunteer-info mt-3">
          <h2><%= @volunteer.first_name %>  <%= @volunteer.last_name %></h2>
          <p class="age"><%= @volunteer.age %> Years </p>
        </div>

       <div class="d-flex justify-content-center interests-wrapper">
        <% @volunteer.interests.each do |interest|  %>
         <% asset_url = "#{interest.title}.svg"%>
           <div class="icone-card">
             <%= image_tag(asset_url, width: 25, height:25, class: "")  %>
           </div>
         <% end %>
       </div>

        <div class="review-wrapper d-flex justify-content-center my-4">
          <% (@volunteer.review).times do %>
            <i class="fas fa-star fa-2x mr-3"></i>
          <% end %>
          <% (5 - @volunteer.review).times do %>
            <i class="fas fa-star fa-2x mr-3 grey-star"></i>
          <% end %>
        </div>

        <div class="biography">
          <p>"<%= @volunteer.biography %>"</p>
        </div>

        <div class="send d-flex justify-content-center send-wrapper">
          <%= link_to "Send message", new_user_request_path(@volunteer), class: 'btn btn-primary button-action', id: 'send' %>
        </div>

      </div>

     </div>

     <div class="col-7" id="video-container">
      <%  if @volunteer.video == "" %>
        <img src="https://res.cloudinary.com/dmuxhwwrg/image/upload/v1567690581/no_video_d6vhyn.jpg" alt="no-signal-available" class="no-video">
      <% else %>
        <div style=" padding-top:30px; height:634; overflow:hidden;">
          <iframe  width="415" src="<%= @volunteer.video %>" frameborder="0" allowfullscreen style="position:absolute; top:0; left:0; width:100%; height:100%;">
          </iframe>
        </div>
      <% end %>
     </div>

   </div>
</div>
