 <style>

.card-volunteer {
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  background-repeat: no-repeat !important;
  background-size: cover;
  margin-top: 25px;
  min-height: 600px;
  margin-right: auto;
  margin-left: auto;
}

.card-volunteer h1 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.photo-profile {
  height: 150px;
  width: 150px;
  margin: 0 auto;
  background-position: center;
  border-radius:50%;
  border: 4px solid white;
  background-size: cover;
  margin-top : 20px;
}

.photo-profile img {
  z-index:1;
}

.background img {
  z-index:0;
}

h2 {
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
}

.fas.fa-dice {
  margin-top: 50px;
  border-radius : 500px;
  border: 3px solid black;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-right: 15px;

}

.fas.fa-utensils {
  margin-top: 50px;
  border-radius : 500px;
  border: 3px solid black;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-right: 15px;
}

.fas.fa-theater-masks {
  margin-top: 50px;
  border-radius : 500px;
  border: 3px solid black;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-right: 15px;
}

.icones {
  display: flex;
  align-items: center;
  justify-content: center;
}
  .send {
    margin-top: 100px;
  }
  .biographay p {
    list-style: none;
  }

 </style>
<div class ="home-wrapper-2">
<div class="container">
  <div class="row">
    <div class="col-5">
      <div class="card-volunteer" style="background-image: url('<%= cl_image_path("shape-card-volunteer")%>');">
        <div>
      <div class ="photo-profile" style="background-image: url('<%= cl_image_path("Photo-Volunteer") %>')"></div>
            <h2><%= @user.first_name %>  <%= @user.last_name %></h2>
            <ul>
            <li><%= @user.city %></li>
            <li><%= @user.age %> Years old</li>
            <li><%= @user.mobility %></li>
          </ul>
            <div class="icones">
            <i class="fas fa-dice fa-border fa-2x"></i> <i class="fas fa-utensils fa-border fa-2x"></i> <i class="fas fa-theater-masks fa-border fa-2x" ></i>
            </div>
            </div>
            <br>
            <div class="biography">
            <p><%= @user.biography %></p>
          </div>
        <div class="send">
              <%= link_to "Send message", new_user_request_path(@user), class: 'btn btn-primary' %>
              <%= link_to "Back", profiles_path, class: 'btn btn-primary'%></div>
        </div>
       </div>
       </div>
    </div>
    </div>
  </div>
 </div>
</div>














<!--div class="row">
 <div class="col-1">
  </div>
  <div class="col-sm-5">
    <div class="card-volunteer1" style="background-image: url('<%= cl_image_path("shape-card-volunteer")%>');">
        <div class ="photo-profile" style="background-image: url('<%= cl_image_path("Photo-Volunteer") %>')"></p></div>
            <h2><%= @user.first_name %>  <%= @user.last_name %></h2>
            <ul>
            <li><%= @user.city %></li>
            <li><%= @user.age %></li>
            <li><%= @user.mobility %></li>
          </ul>
            <div class="info">
            <li><%= @user.biography %></li>
            <!-- <p>I love walking my dog and going to the Stadium to watch Fussball</p> -->

    <!--div class="col-6">
      <div class="interest-wrapper" style="width: 500px">

        <% @user.interests.each do |interest| %>
          <div class="inter-item">
            <%= interest.title %>
          </div>
        <% end %>
      </div>
    </div>
 </div>
</div>
<div class="container container-buttons d-flex justify-content-center">
  <div class="send">
    <%= link_to "Send message", new_user_request_path(@user), class: 'btn btn-primary' %>
   <%= link_to "Back", profiles_path, class: 'btn btn-primary'%>

  </div>





