<div class="navbar sticky-top navbar-expand-sm navbar-light navbar-lewagon", id="navhome">
    <div class="logo-elderme">
      <a href="" metatag = "Homepage">
        <%= link_to root_path, class: 'navbar-brand' do %>
          <%= image_tag "logo v7.png" %>
        <% end %>
      </a>
    </div>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <i class="far fa-comment-dots"></i>
          <a href="" metatatg="Calendar">
            <%= link_to "Calendar", requests_path, class: 'nav-link' %>
          </a>
        </li>
        <li class="nav-item">
          <i class="far fa-user-circle"></i>
          <a href="" metatag="My Profile">
            <%= link_to "Profile", edit_user_registration_path, class: 'nav-link' %>
          </a>
        </li>
        <a href="" metatag="Logout">
          <%= link_to 'LOG OUT', destroy_user_session_path, method: :delete, class: "dropdown-item"  %>
        </a>
      <% else %>

        <li class="nav-item signup">
          <div class="button-center">
            <%= button_to "Sign in", new_user_session_path, class: 'btn btn-primary button-action'%>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
