<div class="more_info request-show">
  <h1>Meeting Details</h1>
    <div class="meeting-details d-flex justify-content-between">
      <div class= "portrait-modal">
      <div class ="photo-profile1" style="background-image: url('<%= cl_image_path(request.volunteer.picture) %>')"></div>
        <a href="" class="volunteer_link meeting-details">
          <%= link_to "#{request.volunteer.first_name}" , profile_path(request.volunteer) %>
        </a>
    </div>
     <div class= "modal-info">
     <p> <strong>Date:</strong> <%= request.date.strftime("%b %d, %Y") %> </p>
      <p><strong>Time:</strong> <%= request.start_time.strftime("%l:%M ")%>
      <%=request.end_time &&  request.end_time.strftime(" - %l:%M") %> </p>
      <p><strong>Where:</strong> <%= request.meeting_point %> </p>
      <p><strong>Message:</strong> <%= request.message %> </p>
     </div>

    </div>
  <div class="info">
    <%= link_to "Edit", edit_request_path(request), class: 'btn btn-primary modul'%>
    <%= link_to "Delete", request_path(request), class: 'btn btn-primary modul', method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
</div>
