<style>
  .container {
    width: 50%;
    height: 500px;
  }
  .save-cancel {
    display: flex;
    justify-content: center;
  }
</style>
<br><br>
<%= link_to "Back", requests_path, class: 'btn btn-primary'%>
<h1>Edit Request</h1>


<div class="container">
  <%= simple_form_for @request do |f| %>
    <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= f.input :start_time, as: :string, required: false, input_html: {class: "timepicker"}%>
    <%= f.input :end_time, as: :string, required: false, input_html: {class: "timepicker"} %>
    <%= f.input :meeting_point %>
    <label>Message</label>
    <%= f.input :message %>
    <button class='btn bnt-primary ' id="sweet-alert-save" >Save</button>
    <%= f.submit "Save hidden", class: 'btn btn-primary alert d-none' %>
    <div class="save-cancel">
      <% end %>
      <%= link_to "Cancel", request_path, class: 'btn btn-primary'%>
    </div>
</div>
