<div>
  <%= link_to "Back", profiles_path(@request), class: 'btn btn-primary'%>
</div>

<h1>My Meetings</h1>

<div class="simple-calendar">
  <div class="container">
    <h2>Next Meeting</h2>
  </div>

  <div class="container">
    <%= week_calendar number_of_weeks: 2, events: @requests, attribute: :formatted_start, end_attribute: :formatted_end do |date, request| %>
      <%= date.day %>
      <!-- To show the day of the month instead of the date -->

      <div class="event">
        <% request.each do |r| %>
            <%= link_to request_path(r) do %>
              <div class="event-tag">
                  <%= r.start_time.strftime("%l:%M -")%>
                  <%= r.end_time.strftime("%l:%M") %>
              </div>
            <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
