  <div class="container">
    <div class='d-flex pb-3 align-items-baseline justify-content-between'>
      <%= link_to "Back", profiles_path(@request), class: 'btn btn-primary button-action', id: 'profile-button' %>
      <h1 class="title-text">My Calendar</h1>
      <h2 style="visibility: hidden;">BLANK</h2>
    </div>

    <div class="simple-calendar">

    <%= week_calendar number_of_weeks: 2, events: @requests, attribute: :formatted_start, end_attribute: :formatted_end do |date, request| %>
      <%= date.day %>
      <!-- Shows the day of the month instead of the date -->

      <div class="event">
        <% request.each do |r| %>
            <%= link_to request_path(r), "data-toggle" => "modal", "data-target" => "#request-modal-#{r.id}" do %>
              <div class="event-tag">
                  <%= r.start_time.strftime("%l:%M %p")%>
              </div>
            <% end %>
            <div class="modal fade" id="request-modal-<%= r.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                    <%= render "request", request: r %>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>












