<div>
  <%= link_to "Back", profiles_path(@request), class: 'btn btn-primary'%>
</div>

<h1>My Meetings</h1>

<div class="simple-calendar">
  <!-- <div class="container">
    <h2>Next Meeting</h2>
  </div> -->

  <div class="container">
    <%= week_calendar number_of_weeks: 2, events: @requests, attribute: :formatted_start, end_attribute: :formatted_end do |date, request| %>
      <%= date.day %>
      <!-- To show the day of the month instead of the date -->

      <div class="event">
        <% request.each do |r| %>
            <%= link_to request_path(r), "data-toggle" => "modal", "data-target" => "#request-modal-#{r.id}" do %>
              <div class="event-tag">
                  <%= r.start_time.strftime("%l:%M %p")%>
                  <%= r.end_time && r.end_time.strftime(" - %l:%M %p") %>
              </div>
            <% end %>
            <div class="modal fade" id="request-modal-<%= r.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <%= render "request", request: r %>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>












