<h1>All my Requests</h1>
<div class="container">

  <%= month_calendar events: @requests, attribute: :formatted_start, end_attribute: :formatted_end do |date, request| %>
    <%= date %>

    <% request.each do |r| %>
    <%= link_to request_path(r) do %>
      <div>
        <%= r.meeting_point %>
        <%= r.status %>
        <%= r.topic %>
        <%= r.message %>
        <!-- #r.senior_id -->
      <%#= link_to "Show", request_path(r), class: 'btn btn-primary'%>

      </div>
      <% end %>
    <% end %>
  <% end %>

  <!-- iterate through all requests -->
  <%= link_to "Back", profiles_path(@request), class: 'btn btn-primary'%>
</div>


<!-- display calendar with corresponding requests in it -->

