<h1>New request (message)</h1>

<%= simple_form_for([@user, @request]) do |f| %>
  <%= f.input :senior_id %>
  <%= f.input :volunteer_id %>
  <%= f.input :date %>
  <%= f.input :start_time %>
  <%= f.input :end_time %>
  <%= f.input :meeting_point %>
  <%= f.input :event_kind %>
  <%= f.input :status %>
  <%= f.input :topic %>
  <%= f.text_field :message %>
  <%= f.submit %>
<% end %>



    <%= link_to "Cancel", user_path(@user), class: 'btn btn-primary'%>

