<style>
  .container {
   width: 50%;
   height:500px;
  }

  .butu {
    display: flex;
    justify-content: center;
  }

  #back {
    margin-top: 20px;
  }

  .form-group {
    display: inline-block;
  }

  #sweet-alert {
    width: 300px;
    height: 60px;
  }

  #Cancel {
    width: 100px;
    height: 50px;
    padding: 10px;
    margin-left: 305px;
  }
  label {
    display: inline-block;
    margin-bottom: 0.5rem;
    color: black;
    font-size: 25px;
  }

  .h1 {
    text-align: center;
    margin-top: 1px;
    margin-bottom: 1px;
    font-weight: bold;
}

</style>
<%= link_to "Back", profile_path(@volunteer), class: 'btn btn-primary', id: 'back'%>
<h1 class="h1">New request (message)</h1>
<div class="container">
<%= simple_form_for [@volunteer, @request] do |f| %>
  <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"}, placeholder: 'September 01, 2019' %>

    <div class="form-group">
   <%= f.input :start_time, as: :string, required: false, input_html: {class: "timepicker"}, placeholder: '00.00'%>
   <%= f.input :end_time, as: :string, required: false, input_html: {class: "timepicker"}, placeholder: '23.59' %>
 </div>

    <label style="font-size: 23px">Meeting Point</label>

  <%= f.text_field :meeting_point, placeholder: "Write your meeting point" %>
  <label style="font-size: 23px">Message</label>
  <%= f.text_field :message, placeholder: "Write your Message" %>

  <div class="butu">
  <%= f.submit "Sent Message", id: 'sweet-alert', class: 'btn btn-primary new-request' %>
  <%= f.submit "Create hidden", class: 'btn btn-primary alert new-request d-none' %>

<% end %>
</div>
   <%= link_to "Cancel", profile_path(@volunteer), class: 'btn btn-primary', id:'Cancel'%>
</div>


