<h1>New request (message)</h1>
<%= link_to "Back", profile_path(@user), class: 'btn btn-primary'%>

<%= simple_form_for [@profile, @request] do |f| %>
  <%= f.input :date %> <!-- implement datepickr -->
  <!-- implement time in nicer way like datepickt -->
  <%= f.input :start_time %>
  <%= f.input :end_time %>
  <%= f.input :meeting_point %>
  <%= f.input :event_kind %>
  <%= f.input :topic %>
  <!-- filled in automatically? -->
  <%= f.text_field :message %>
  <%= f.submit %>
<% end %>




<%= link_to "Cancel", profile_path(@user), class: 'btn btn-primary'%>

