<div class="container">
  <div class="more_info" >
    <h1>Show Request</h1>
            
    <%= link_to "Back", requests_path(@request), class: 'btn btn-primary'%>
    <ul>
      <li><%= @request.date %></li>
      <li><%= @request.meeting_point %></li>
      <li><%= @request.status %></li>
      <li><%= @request.topic %></li>
      <li><%= @request.message %></li>
      <a href="">
        <%= link_to @request.volunteer.first_name , profile_path %>
      </a>
    </ul>
    <div class="info">

      <%= link_to "Edit", edit_request_path(@request), class: 'btn btn-primary'%>

      <%= link_to "Delete", request_path, class: 'btn btn-primary', method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
  </div>
</div>


