<div class="container">
<div class="more_info" >
<h1>Show Request</h1>
<ul>
<li><%= @request.date %></li>
<li><%= @request.meeting_point %></li>
<li><%= @request.status %></li>
<li><%= @request.topic %></li>
<li><%= @request.message %></li>
</ul>
<div class="info">
<%= link_to "Edit", edit_request_path(@request), class: 'btn btn-primary'%>

<%= link_to "Delete", requests_path, class: 'btn btn-primary'%>
<%= link_to "Back", requests_path(@request), class: 'btn btn-primary'%>
</div>
</div>
</div>

